.LastBox {
    width: 80%;
    height: 255px;
    background-color: rgb(250, 250, 250);
    border-width: 20px;
    border-style: solid;
    border-image: linear-gradient(to top, rgb(20, 23, 83), #9fdde4 )1;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    font-size: 22px;
    padding: 51px;
  }
  
  .LastBox:hover{
      letter-spacing: 0.23em;
      transition: ease-out 2s;
  }

  .LastBox h3 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: black;
    
  }
  .LastBox p {
    font-size: 19px;
    padding-top: 5px;
    color: black;
  }
  
  @media only screen and (max-width: 768px) {
  
    .LastBox {
      width: 100%;
      font-size: 18px;
  
      margin-top: 400px;
  
    }
  
    .LastBox h1 {
      font-size: 20px;
  
    }
  
    .LastBox p {
      font-size: 13px;
      padding-top: 1px;
    }
  }