.SubjectBox {
    width: 230px;
    height: 275px;
    background-color: rgb(20, 23, 83);
    border-radius: 20px;
}

.SubjectPic {
    width: 230px;
    height: 205px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(20, 23, 83);
    overflow: hidden;
    background-position: center center;
    padding: 10px;
}

.SubjectBox h2 {
    display: block;
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

#image-cover {
    width: 230px;
    height: 205px;
}

@media (max-width: 768px) {

    .SubjectBox,
    .SubjectBox1,
    .SubjectBox2 {
        width: calc(50% - 50px);
    }

    #image-cover,
    .SubjectPic {
        width: calc(100% - 0px);
    }

}