.loading-circle-container {
    position: absolute; /* Position the container for better placement */
    top: 50%; 
    left: 90%; 
    transform: translate(-50%, -50%); /* Adjust positioning as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-circle-inner {
    
    color: #fff;
    font-size: 16px;
  }
  
  .loading-circle-outer {
    border: 5px solid #f3f3f3; /* Set border color and thickness */
    border-radius: 50%; /* Make it a circle */
    width: 70px; /* Set the width of the circle */
    height: 70px; /* Set the height of the circle */
    animation: spin 1s linear infinite;
  }
  .insert{
   display: flex;
   justify-content: center;
   padding-top: 20px;
   color: #fff;
  }
  
  /* @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  } */