.containerDash {
    margin-left: 292px;
    width: calc(100% - 292);
    background-color: rgb(20, 23, 83);
    padding-top: 0.1px;
    height: auto;

}

.text-center00 {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    margin-top: 60px;

}

.text-center0 {
    color: white;
}

.helpBox {
    color: white;
    height: 65px;
    background-image: linear-gradient(to left, #cce5ff, #6b3fa0);
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    padding-right: 10px;
    margin-right: 50px;
}

.helpBox p {
    padding-top: 10px;
    font-size: 18px;

}

.pp {
    width: 40px;
    height: 40px;
    padding-top: 0;
}

.lead {
    color: rgb(197, 191, 191);
    font-size: 22px;
    font-weight: bolder;
    padding-left: 30px;
}

.display-4 {
    font-size: 45px;
    padding-left: 30px;

}

.card:hover {
    transform: scale(1.04);
    cursor: pointer;
}



.card--title {
    background-image: linear-gradient(to right, #a7b7e8cc, #1ac59d);
    margin: auto;
    width: 100%;
    padding: 25px;
    font-size: 14px;
    color: #141753;
    border-radius: 15px;
    height: 100%;


}

/*down*/
.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-left: 70px;
}

.card {
    height: 120px;
    border-radius: 22px;
    width: 525px;
    display: flex;
    justify-content: space-between;
    border-radius: px;
    background-image: linear-gradient(to right, #97F9FF, #690ed8);

}

.card:hover {
    transform: scale(1.04);
    cursor: pointer;
}