.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 288px;
    height: 1040px;
    background-color: rgb(16, 17, 39);
    color: white;
}

.menu p {
    font-size: 18px;
    padding-left: 20px;
}

.Dash1 a,
.menu--list .item {
    margin: 1px auto;
    color: white;
    height: 40px;
   width: 240px;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}
 .active {
    background-image: linear-gradient(to left, #80b3ea, #6b3fa0);
    width: 240px;
    border-radius: 14px;
    margin: 1px auto;

}

.menubelowsearch p {
    font-size: 18px;
    padding-left: 10px;
    margin: 0;
}

.logo {
    text-align: center;
    color: #D9D9D9;
    display: flex;
    margin: 20px 10px 0 20px;
}


.menu--list {
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 0px;
    
    gap: 45px;
}

/*.menu--list .item {
    display: flex;
    font-size: 15px;
    text-decoration: none;
    gap: 60px;

    padding-left: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #fff;
}*/

.menu--list .item:hover {
    background: linear-gradient(#2D386F, #94A5FF);
    color: #d9d9d9;
    cursor: pointer;
}

.search-box1 {
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    border: solid white 0.5px;
    width: 242px;
    height: 41px;
    margin: 8px auto;
}

.search-box1 input {
    outline: #fff;
    background: transparent;
    color: white;
    border: none;
    padding-left: 10px;
}

.search-box1 .icon {
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}