.headingTitle{
    width: 100%;
    height: 62px;
    background-color:rgb(20, 23, 83);
    display: flex;

}
.headingTitle img{
    padding-left: 26px;
}
.headingTitle p{
    color:rgb(217,217,217) ;
    margin: auto;
    font-size: 1.4rem;
    padding-left:10PX ;
}@media (max-width: 768px) {
    .headingTitle p {
      font-size: 0.6rem; 
    }
}
@media (max-width: 768px) {
    .headingTitle img {
      padding-left: 10px; 
    }
  
    .headingTitle p {
      font-size: 0.5rem; 
    }
  }