/* CreateAccountForm styles */
.containerSign {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 40px;
  padding-top: 70px;
}

.header img {
  width: 150px;
  margin-bottom: 20px;
}

.create-account-form {
  width: 100%;
}

.create-account-form h2 {
  margin-bottom: 20px;
  color: #002E6D;
  text-align: center;

}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#create-account-form .form-group input:focus {
  border-color: #002E6D;
}

#last {
  margin-top: 10px;
  color: #777;
}

#last a {
  color: #002E6D;
  text-decoration: none;
}

#getnbtn {
  width: 100%;
  padding: 10px;
  background-color: #002E6D;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#getnbtn:hover {
  background-color: #0056b3;
}
.radio-group {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.radio-group label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;

}

.radio-group input[type="radio"] {
  margin-right: 5px;
}
