.formContainerSign {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 40px;
    padding-top: 150px;

  }
  
  .formHeader img {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .formHeader h2 {
    margin-bottom: 20px;
    color: #002E6D;
  }
  
  .formCreateAccount {
    width: 100%;
  }
  
  .formCreateAccount h2 {
    margin-bottom: 20px;
    color: #002E6D;
    text-align: center;

  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .formGroup input:focus {
    border-color: #002E6D;
  }
  
  .formLast {
    margin-top: 10px;
    color: #777;
  }
  
  .formLast a {
    color: #002E6D;
    text-decoration: none;
  }
  
  .formBtn {
    width: 100%;
    padding: 10px;
    background-color: #002E6D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .formBtn:hover {
    background-color: #0056b3;
  }
  
  .formRadioGroup {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .formRadioGroup label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
  }
  
  .formRadioGroup input[type="radio"] {
    margin-right: 5px;
  }
  
  .formRemember {
    margin-top: 10px;
  }
  
  .formRemember a {
    color: #002E6D;
    text-decoration: none;
  }
  