.rightside{
    color: #000;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 720px;
}

#rightside{
    z-index: 1;
}

.rightside img{
    max-width: 720px;
    height: 720px;
    object-fit: cover;  
    filter: blur(4.5px); 
    -webkit-filter: blur(4.5px);
}
       
h1{
    color: #fcfdfd;
    font-weight: 700;
    font-size: 52px;
    line-height: 90px;
    position: absolute;
    top: 100px;
    width: 644px;
    height: 571px;
    align-content: center;
    left: 40px;
    border-radius: 20px;
    border-color: #fff;
    box-shadow: 0 0 20px 2px rgba(3, 5, 41, 0.4);
    transition: 1s;
    background: blur;
}

h1:hover{
    transition: ease 1.3s;
    letter-spacing: 0.2em;
}