.title1{
    background-color: #151854;
    height: 80px;
    margin-top: -42px;
    
}

.heading1{
    font-family: Calibri (Body);
    color: #FFFFFF;
    text-align: center;
    text-justify: distribute-all-lines;
    margin-top: 15px;
    
}

.hr1{
    width: 5%;
    font-weight: 100;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 650px;
}

.container{
    width: 600px;
    margin: auto;
    margin-top: 15px;
    background: #babeff7c;
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 40px,50px;
    font-family: Calibri (Body);
}

.container h5{
    color: #000000ce;
    font-weight: 250;
    margin-top: 5px;
    margin-left: 15px;
}

.container hr{
    height: 1px;
    border: none;
    background: #00000052;
}

.container h2{
    font-size: 20px;
    font-weight: 350;
    margin-top: 10px;
    margin-left: 30px;
}

.container ul li{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border: 2px solid #151854;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
    width: 80%;
}

.container button{
    margin: auto;
    width: 200px;
    height: 50px;
    background: #151854;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

.container .index{
    margin: auto;
    font-size: 13px;
    color: #000000b0;
    margin-bottom: 10px;
}

.container .correct{
    background: #00ff2a62;
    border-color: #00b637c5;
}

.container .wrong{
    background: #ffadad;
    border-color: #fd4646;
}

.results{
    margin-left: 20px;
}

.results h4{
    color: #000000a2;
}

.profpic img{
    margin-top: 30px;
    width: 95%;
    height: 65%;
}

.profdesc{
    margin-top: 70px;
    margin-left: 10px
}

.medalpic{
    width: 140%;
    height: 100%;
    margin-left: -40px;
    margin-top: -50px;
}

.name{
    margin-top: -20px;
    font-size: 15px;
}

.emal{
    margin-top: -3px;
    color: rgba(0, 0, 0, 0.61);
}

.f-resu h2{
    margin-top: 60px;
    margin-left: -5px;
    font-size: 30px;
    font-weight: 500;
    color: #002981af;
}

.f-result{
    margin-top: 20px;
    background-color: #ffffff;
    width: 80%;
    text-align: center;
    margin-left: 45px;
    border-radius: 50px;
}

.col h1{
    margin-top: 10px;
}

.col h4{
    margin-top: -18px;
    margin-bottom: 13px;
    color: rgba(0, 0, 0, 0.356);
    font-weight: 500;
}

.toReview{
    margin-left: 90px;
}

.buttons{
    text-align: center;
    word-spacing: 30px;
    margin-bottom: 30px;
    margin-top: -10px;
}