.theory-steps-container {
    width: 100%;
    padding: 20px;
}

.steps-progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.step-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.step-item.active, .step-item:hover {
    background-color: #007bff;
    color: #fff;
}

.step-number {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.step-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.step-content img {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.step-content p {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}
