/* General Styles */
.title1 {
    margin-top: 20px;
    background-color: #151854;
    height: 80px;
}

.heading1 {
    font-family: Calibri (Body);
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
    font-size: 50px;
}

.hr1 {
    width: 25%;
    height: 50px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 550px;
}

/* Container Styles */
.container {
    width: 700px;
    margin: auto;
    margin-top: 25px;
    background: #f0f8ff;
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 40px 50px;
    font-family: 'Calibri', sans-serif;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Header Styles */
.container h3 {
    color: #00008b;
    font-weight: 550;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 50px;
}

.container hr {
    height: 7px;
    border: none;
    background: #00000052;
}

/* Question Styles */
.container h2 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 30px;
    color: #00008b;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border: 2px solid #151854;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
    width: 80%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.container ul li:hover {
    background-color: #add8e6;
    transform: scale(1.05);
}

/* Button Styles */
.container button {
    margin: auto;
    width: 200px;
    height: 50px;
    background: #151854;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #00008b;
}

.container .index {
    margin: auto;
    font-size: 13px;
    font-weight: 400;
    color: #00008b;
}

.container ul li.correct {
    background: green;
    color: white;
    transform: scale(1.1);
}

.container ul li.wrong {
    background: red;
    color: white;
    transform: scale(1.1);
}

/* Result Styles */
.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

.f-result {
    text-align: center;
}

.f-result h4 {
    margin-top: 15px;
    font-size: 15px;
}

.f-result h5 {
    margin-bottom: 0;
    font-size: 45px;
    color: #00008b;
}

.best-try {
    color: orange;
}

.try-again {
    color: blue;
}

.congratulations {
    color: green;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons Button {
    width: 150px;
}
