/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
  }
  
  .contSign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    background-color: #002E6D;
  }
  
  .flexy {
    display: flex;
    height: 99vh !important;

    width: 80%;
    max-width: 1200px;
    background-color: #E8F0FE;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  