.subNavContainer {
    background-size: contain;
    height: auto;
    color: white;
    margin-top: 0px;
}

.note {
    margin-top: 0px;
}

.SecondSec {
    margin: 60px 0 100px 0;
}

.SubBox {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.ThirdSec {
    margin: 100px 0 60px 0;

}

.LastSec {
    padding-bottom: 60px;
}