.ContainerLast{
    margin-left: 292px;
    width: calc(100% - 292);
    display: flex;
    justify-content: center;
    background-color:rgb(20,23,83);

    
}
.inside{
    margin-top: 80px;
    margin-bottom: 60px;
}
