.section2{
    padding-top: 20px;
    margin-top: 80px;
    padding-bottom:  100px;

}

.section2 h2{
text-align: center;
font-family: 'poppins';
font-weight: 900;
font-size: 50px;
text-decoration: underline;
color: #151854;
width: 1200px;
margin: auto;

}
.course{
width:300px;
margin: 0 50px 0 50px;
}

.course h3{
color: #0B036B;
font-family: 'Lato';
font-weight: bold;
font-size: 24px;
text-align: center;
}

.course p{
color: black;
font-family: 'poppins';
font-size: 18px;
text-align: justify;}
.bg1{
background-color: #151854;
height: 250px;
width: 250px;
rotate: -17deg;
}
.bg2{
background-color: #031197;
height: 250px;
width: 250px;
rotate: 37deg;
}
.img{

rotate: 0deg;
}

.course img{
height: 245px;
width: 245px;
rotate: -7deg;
}

.bg1,
.bg2,
.img,
.course img{
border-radius: 70px;
}

.btnPlay{
width: 30px;
height: 30px;
border: none;
background-color: #151854;
border-radius: 50%;
color: #fff;
padding: 10px ;
}